#rotation_container{
      /* This the main container div */
      width:800px;
      min-height:300px;
      margin:0 auto;
      position:relative;
      padding-top:1px;
    }

    #choiceCarousel{
      /*  This is the carousel section, it
      contains the stage and the arrows */
      height:200px;
      margin:90px auto 120px;
      position:relative;
      width:800px;
    }

    #choiceCarousel .arrow{
      /* The two arrows */
      width:44px;
      height:44px;
      background:url('images/arrows.png') no-repeat;
      position:absolute;
      top:50%;
      margin-top:-22px;
      left:0;
      cursor:pointer;
    }

    #choiceCarousel .next{
      /* Individual styles for the next icon */
      background-position:right top;
      left:auto;
      right:0;
    }

    /* Hover styles */

    #choiceCarousel .arrow:hover{
      background-position:left bottom;
    }

    #choiceCarousel .next:hover{
      background-position:right bottom;
    }

    #icons{
       /*The icons con/tains the animated choice images*/
      left:50%;
      margin-left:-350px;
      position:absolute;
      width:700px;
      height:100%;
    }

    #icons .animationReady{
       /*This class is assigned to the images on load*/
      display:block;
      position:absolute;
      top:0;
      left:0;
    }

    /*#icons img {
      width: 20%;
      margin-right: 3%;
      margin-top: 1%;
      cursor: pointer;
    }

    #icons img:hover {
      width: 22%;
      margin-right: 2%;
      margin-top: 0%;
    }*/
