body {
      font-family: 'Helvetica Neue';
      margin: 15px 0 0 30px;
    }

    .choices img {
      width: 15%;
      margin-right: 3%;
      margin-top: 1%;
      cursor: pointer;
      opacity: 0.5;
      transition: 1s all ease;
    }

    .choices img:hover {
      width: 16%;
      opacity: 1;
      color: #aaa;
      margin-right: 2%;
      margin-top: 0%;
    }

    #results {
      list-style: none;
      height: 390px;
      overflow: hidden;
    }

    #results li {
      background: #999;
      color: #fff;
      font-size: 24px;
      border-radius: 8px;
      padding: 5px;
      width: 80%;
      margin-bottom: 10px;
    }
